<!-- <StackLayout>
    <textField [(ngModel)]="label" hint="Le nom du produit"></textField>
    <textField [(ngModel)]="prix" hint="Le prix du produit"></textField>
    <button (tap)="valid()" [text]="(editIndex == undefined) ? 'Ajouter un produit' : 'Modifier le produit'"></button>
    <ScrollView>
        <StackLayout>
            <GridLayout *ngFor="let p of produits, let i = index" rows="auto, auto" columns="2*, 1*">
                <label text="{{p.label}}" col="0" row="0"></label>
                <label text="{{p.prix}} €" col="0" row="1"></label>
                <button col="1" row="0" (tap)="edit(i)" text="Editer"></button>
                <button col="1" row="1" (tap)="delete(i)" text="Supprimer"></button>
            </GridLayout>
        </StackLayout>

    </ScrollView>
</StackLayout> -->
<GridLayout rows="auto, auto, auto" columns="2*, 1*">
    <label text="{{label}}" col="0" row="0"></label>
    <label text="{{prix}} €" col="0" row="1"></label>
    <button col="1" row="0" (tap)="edit(index)" text="Editer"></button>
    <button col="1" row="1" (tap)="delete(index)" text="Supprimer"></button>
    <button col="0" row="2" colSpan="2" (tap)="addToCart(index)" text="Ajouter au panier"></button>
</GridLayout>
